.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button{
    margin-left: 5px
}

.center {
    margin: auto;
    margin-top: 35px;
    margin-right: -80px;
    text-align: center;
    width: 85%;
    /* border: 3px solid green; */
    padding: 10px;
  }

.cabeca{
    text-align: center
}

.lista{
    margin-top: 25px;
}

.table-sla td:nth-child(1){
    width: 65%;
}
.table-sla td:nth-child(2){
    width: 25%;
}
.table-sla td:nth-child(3){
    width: 5%;
}

.tableActions{
    width: 150px
}

.tabelaLinha{
    white-space: pre-wrap;
}