.main-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button{
    margin-left: 5px
}

.marginBotton{
    margin-bottom: 7px;
}
.centerMovi {
    margin: auto;
    margin-top: 35px;
    margin-right: -200px;
    text-align: center;
    width: 85%;  
    padding: 10px;
}



.center {
    margin: auto;
    margin-top: 35px;
    margin-right: -80px;
    text-align: center;
    width: 85%;
    padding: 10px;
  }

.cabeca{
    text-align: center
}


