.table-Movimentacao td:nth-child(1){
    width: 65%;
}

.table-Movimentacao td:nth-child(2){
    width: 20%;
}

.table-Movimentacao td:nth-child(3){
    text-align: center;
    width: 10%;
}

.tbcenter{
    text-align: center;
}

.tableActions{
    width: 150px
}

.tabelaLinha{
    white-space: pre-wrap;
}